@model ClothBazar.Web.ViewModels.ProductSearchViewModel
@{
    ViewBag.Title = "ProductTable";
}

@*<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>*@
<div>
    <div class="form-group">
        <form method="post">
           
               
                   <div class="row">
                       <div class="col-md-8">
                          
                           <input placeholder="search" class="form-control" id="searchTxt" />
                       </div>
                       <div class="col-md-4">
                           <button type="button" id="searchBtn">Search</button>
                           <button type="button" id="newBtn">New</button>
                       </div>
                   </div>
                       
                   
            
            
            
           
        </form>

        
    </div>

    <h2>ProductTable</h2>
    @if (Model.Products != null && Model.Products.Count >0)
    {
        <table id ="productTables" class="table table-striped">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Category</td>
                    <td>Price</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>

                @foreach (var product in Model.Products)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>
                            @if (product.Category != null)
                            {
                                <text>@product.Category.Name</text>
                            }
                            else
                            {
                                <text>-</text>
                            }
                        </td>
                        <td>@product.Price</td>

                        <td>
                            <button type="button" class="edit" data-id="@product.ID">Edit</button>
                            <button type="button" class="delete" data-id="@product.ID">Delete</button>
                            <button type="button" class="addToCart" data-id="@product.ID">Add To Cart</button>

                        </td>
                    </tr>
                }

            </tbody>
        </table>
   
    }
    else
    {
        <div>No Product Found</div>
    }
    <div>
        @if (Model.pager != null && Model.pager.TotalPages > 1)
        {
            if (Model.pager.CurrentPage > 1)
            {
                <button class="pageBtn" data-pageno="1">FirstPage</button>
                <button class="pageBtn" data-pageno="@(Model.pager.CurrentPage-1)">PreviousPage</button>
            }
            for (var page = Model.pager.StartPage; page <= Model.pager.EndPage; page++)
            {
                var isActive = @Model.pager.CurrentPage == page ? "btn-info active" : string.Empty;
                <button class="@isActive pageBtn" data-pageno="@page">@page</button>
            }

            if (Model.pager.CurrentPage < Model.pager.EndPage)
            {
                <button class="pageBtn" data-pageno="@(Model.pager.EndPage)">LastPage</button>
                <button class="pageBtn" data-pageno="@(Model.pager.CurrentPage + 1)">NextPage</button>
            }

        }


    </div>
    
</div>
<div id="EditTable">

</div>
<script>
    //$('#productTables').DataTable();
    
    $(".pageBtn").click(function () {
       
        $.ajax({
            url: '@Url.Action("ProductTable","Product")',
            data: {
                pageNo: $(this).attr('data-pageno'),
                search:'@Model.searchTerm'
            }


        })
        .done(function (response) {
           
            $("#tableContainer").html(response);
        })
         .fail(function (XMLHttpRequest, textStatus, errorThrown) {


         });
    });


    $("#searchBtn").click(function () {
       var searchValue = $("#searchTxt").val();
       $.ajax( {
           url:'@Url.Action("ProductTable","Product")',
           data: {
               search: searchValue
           }

           
       })
       .done(function (response) {
           console.log(response);
           $("#tableContainer").html(response);
       })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            

        });
    });

    $("#newBtn").click(function () {
        
        $.ajax({
            url: "/Product/Create"
        })
        .done(function (response) {
          
            $("#newContainer").html(response);
            focusAction();
        })
         .fail(function (XMLHttpRequest, textStatus, errorThrown) {
             alert("FAIL");

         });
    });

    $(".edit").click(function () {
       
        $.ajax({
            
            url: "/Product/Edit",
            data: {
                ID: $(this).attr('data-id')
            }
        })
        
         .done(function (response) {
             $("#EditTable").html(response);
             focusAction2();
         })
         .fail(function (XMLHttpRequest,textStatus,errorThrown) {
             alert("FAIL;")
         });
        
    })
    $(".delete").click(function () {
        var product = confirm("Are you sure you want to delete this Product?");
        if (product)
        {
            $.ajax({
                type: 'GET',
                url: '/Product/Delete',
                data: {
                    ID: $(this).attr('data-id')
                }

            })
        .done(function (response) {
            
            $("#tableContainer").html(response);

        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {

        });
        }
       

    })

    function focusAction() {
        $('html,body').animate({
            scrollTop: $("#newContainer").offset().top - 100
        }, 1000);

    }

    function focusAction2() {
        $('html,body').animate({
            scrollTop: $("#EditTable").offset().top - 100
        }, 1000);

    }

    var products = [];
    $('.addToCart').click(function () {

        var pID = $(this).attr('data-id');
        alert(pID);
        products.push(pID);
        $.cookie('addToCartCookie', products.join('-'));
       
    })
</script>
